<input type="text" name="student[name]" placeholder="Name" required autofocus class="form-control">
            <input type="text" name="student[rollNumber]" placeholder="Roll No." required class="form-control">
    				<input type="email" name="student[email]" placeholder="Email" required class="form-control">
    				<input type="text" name="student[phone]" placeholder="Phone No." class="form-control" required pattern="[0-9]{10}">
            <p class="mt-2"><strong>Year of study:</strong></p>
            <select class="form-control" name="student[year]">
              <option value="1st">1st</option>
              <option value="2nd">2nd</option>
              <option value="3rd">3rd</option>
              <option value="4th">4th</option>
              <option value="5th">5th</option>
            </select>
      			<p class="mt-2"><strong>Enter your skills:</strong></p>
            <input type="text" name="student[skills][0]" placeholder="Skill 1" required class="form-control">
            <input type="text" name="student[skills][1]" placeholder="Skill 2" required class="form-control">
            <input type="text" name="student[skills][2]" placeholder="Skill 3" required class="form-control">
            <input type="text" name="student[skills][3]" placeholder="Skill 4" required class="form-control">
					<input type="submit" name="Register" class="ui primary button">