<form id="teamRegistration">
  <input type="text" name="name" placeholder="Name" required autofocus class="form-control">
  <input type="text" onfocusout="updateYear()" id="roll" name="rollNumber" placeholder="Roll No." required class="form-control">
  <input type="email" name="email" placeholder="Email" required class="form-control">
  <input type="text" name="phone" placeholder="Phone No." class="form-control" required pattern="[0-9]{10}">
  <p class="mt-2"><strong>Year of study:</strong></p>
  <select class="form-control" name="year" id="year" disabled>
    <option value=""></option>
    <option value="1">1st</option>
    <option value="2">2nd</option>
    <option value="3">3rd</option>
    <option value="4">4th</option>
    <option value="5">5th</option>
  </select>
  <p class="mt-2"><strong>Enter your skills:</strong></p>
  <input type="text" name="skills0" placeholder="Skill 1" required class="form-control">
  <input type="text" name="skills1" placeholder="Skill 2" class="form-control">
  <input type="text" name="skills2" placeholder="Skill 3" class="form-control">
  <input type="text" name="skills3" placeholder="Skill 4" class="form-control">
  <input type="submit" name="Register" class="ui primary button">
</form>