<% include ./partials/header%>
<% include ./partials/adminGoHome%>
<div class = "containerTable scrollit">
<table>
  <tr class="thead-dark">
    <th>Team Username</th>
    <th>Member 1</th>
    <th>Member 2</th>
    <th>Member 3</th>
    <th>Member 4</th>
    <th>Member 5</th>
    <th style="min-width: 100px">View</th>
  </tr>
  <% teams.forEach(function(team){ 
      if(team.members.length !== 0){%>
  <tr class="table-row">
    <td>
      <%= team.username %>
    </td>
    <% team.members.forEach((member) => { %>
        <td >
            <%=member.name %>
        </td>
    <% }); 
    if(team.members.length < 5) { 
        var x = team.members.length; 
        for(var l=0; l< 5-x; l++){%>
            <td></td>
    <% }} %>
    <td>
        <form action="/admin/team/<%= team._id%>" method="GET">
            <button class="btn btn-info btn-sm">View</button>
        </form>
    </td>
    </tr>
    <% }}); %>
    
</table>
</div>
<% include ./partials/footer%>