<% include ./partials/header %>
<form action="/admin/teams">
    <input type="submit" value="Teams">
</form>
<form action="/admin/mentors">
    <input type="submit" value="Mentors">
</form>
<form action="/admin/mentorChallenges">
    <input type="submit" value="Mentor Challenges">
</form>

<% include ./partials/footer %>