<html>

<head>
    <title>Hack 3.0</title>
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/main.css">

<body>
    <nav class="navbar navbar-dark" style="background-color:#000">
        <a class="navbar-brand" href="/">
            <img src="/images/image1.png" class="d-inline-block " alt=""><span><strong> CSEC</strong> NITH</span>
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOG IN
            </button>
            <div class="dropdown-menu" id="ddown">
                <a href="mentor/login" class="dropdown-item">Mentor</a>
                <a href="/team/login" class="dropdown-item">Team</a>
                <a href="/student/login" class="dropdown-item">Student</a>
            </div>
        </div>
        </div>
    </nav>
    <div class="container">

        <div class="row">

                <div class="col-md-12 text-center form">
                    <h1>Welcome to Hack 3.0</h1>
                    <p>
                        <a href="/mentor/signup" class="btn btn-outline-primary btn-lg mainButtons">Mentor Registration</a>
                    </p>
                    <p>
                        <a href="/team/signup" class="btn btn-outline-success btn-lg mainButtons">Team Registration</a>
                    </p>
                    <p>
                        <a href="/student/signup" class="btn btn-outline-success btn-lg mainButtons">Student Registration</a>
                    </p>
                    <p>
                        <a href="/viewAllTeams" class="btn btn-outline-success btn-lg mainButtons">View All Teams</a>
                    </p>
                </div>
                <% include ./partials/footer %>

