<% include ./partials/header %>

<div class="col-md-12 text-center form">
	<h1 class="text-uppercase">Welcome to <p><strong>HACK 3.0</strong>
			<p> Registrations</h1>
	<p>
		<a href="/mentor/signup" class="ui primary basic button btn-block">Mentor Registration</a>
	</p>
	<p>
		<a href="/team" class="ui positive basic button btn-block">Team Registration</a>
	</p>
</div>
<% include ./partials/footer %>