<% include ./partials/header %>

    		<div class= "col-md-12 text-center form">
                      <h1 class="text-uppercase">Mentor Registration</h1>    

    			<form action="/mentor" method="POST">
    				<input type="text" name="name" placeholder="Name" required autofocus class="form-control">
            <input type="text" name="rollno" placeholder="Roll No." required class="form-control">
    				<input type="email" name="email" placeholder="Email" required class="form-control">
    				<input type="text" name="phone" placeholder="Phone No." class="form-control" required pattern="[0-9]{10}">
            <input type="text" name="username" placeholder="User Name" required class="form-control">
            <input type="password" name="password" placeholder="Password" required class="form-control">  
            <p class="mt-2"><strong>Year of study:</strong></p>
            <select class="form-control" name="year">
              <option value="5th">5th</option>
              <option value="4th">4th</option>
              <option value="3rd">3rd</option>
            </select>
      				<p class="mt-2"><strong>Enter your field of interest:</strong></p>
              <select class="form-control" name="area">
                <option value="android_app_development">Android App Development</option>
                <option value="web_development">Web Development</option>
                <option value="deep_learning">Deep Learning</option>
                <option value="machine_learning">Machine Learning</option>
                <option value="artificial_intelligence">Artificial Intelligence</option>
                <option value="data_science">Data Science</option>
                <option value="cloud_computing">Cloud Computing</option>
                <option value="embedded_systems">Embedded Systems</option>
                <option value="game_development">Game Development</option>
                <option value="blockchain">Blockchain</option>
                <option value="front_end_development">Front End Development</option>
                <option value="back_end_development">Back End Development</option>
    						<option value="database_management">Database Management</option>
  					</select>
            <p class="mt-2"><strong>Enter your skills:</strong></p>
            <input type="text" name="skills[0]" placeholder="Skill 1" required class="form-control">
            <input type="text" name="skills[1]" placeholder="Skill 2" required class="form-control">
            <input type="text" name="skills[2]" placeholder="Skill 3" required class="form-control">
            <input type="text" name="skills[3]" placeholder="Skill 4" required class="form-control">
					<input type="submit" name="Register" class="ui primary button">
    			</form>    		</div>
 <% include ./partials/footer %>
   	