<% include ./partials/header %>

    		<div class= "col-md-12 text-center form">
                      <h1 class="text-uppercase">Student Registration</h1>    

    			<form action="/team/student5" method="POST">
    				<% include ./partials/studentRegistration%>
    			</form>    		</div>
 <% include ./partials/footer %>
   	