<% include ./partials/header%>
<% console.log("yup"+team)%>
          <table class="table-striped table table-bordered">
            <tr class="thead-dark">
              <th>Name</th>
              <th>Year</th>
              <th>Skills</th>
              <th>Leader</th>
            </tr>
                <% for(i = 0; i < team.members.length; i++){
                var member = team.members[i];%>
                <tr>
                  <td><%= member.name %></td>
                  <td><%= member.year %></td>
                  <td>
                    <ul>
                        <% for(var i = 0; i < member.skills.length; i++){ %>
                          <li>
                            <%= member.skills[i];%>
                          </li>
                          <% } %>
                    </ul> 
                  </td>
                  <td><% if(member.isLeader) { %>
                  	Yes
                  	<% } else { %>
                  	No
                  	<% } %>
                  </td>
                  </tr>
                  <% } %>
          </table>   
<% include ./partials/footer%>
