<% include ./partials/header.ejs %>

    <div class="text-center">
    <h1 id="memberNumber">Enter Team Leader's Details:</h1>
    <!-- <form action="/team/student" method="POST"> -->
        <form>
        <% include ./partials/studentRegistration %>
    </form>
    <button class="ui primary button" id="saveDetails">Save</button>
    </div>

</div>
</div>
</body>   
<script src="/js/teamRegistration.js"></script>
</html>