<% include ./partials/header.ejs %>

<h1>TEAM</h1>
<a href="/team/students">Click</a>
<p id="studentTable">Helo</p>
<!-- <table id="studentTable">

</table> -->

</div>
</div>
</body> 
<script src="/js/teamDashboard.js"></script>
</html> 