<% include ./partials/header%>
<!-- <% include ./partials/adminGoHome%> -->
<p><strong style="color:blue">The Area of Work for each member is shown in parenthesis</strong></p>
<div class = "scrollit">
<table class="table-striped table table-bordered">
  <tr class="thead-dark">
    <th>Team Username</th>
    <th>Member 1</th>
    <th>Member 2</th>
    <th>Member 3</th>
    <th>Member 4</th>
    <th>Member 5</th>
  </tr>
  <% teams.forEach(function(team){ 
      if(team.members.length !== 0 && team.showTeam){%>
  <tr>
    <td>
      <%= team.username %>
    </td>
    <% team.members.forEach((member) => { %>
        <td>
            <%=member.name %>
            <% %>
            (<%= member.area %>)
        </td>
    <% }); 
    if(team.members.length < 5) { 
        var x = team.members.length; 
        for(var l=0; l< 5-x; l++){%>
            <td></td>
    <% }} %>
    </tr>
    <% }}); %>
    
</table>
</div>
<% include ./partials/footer%>